body {
	background: #1D2329;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100% );
	background-image: -khtml-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100% );
}