<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Yuppiewall.html</welcome-file>
	</welcome-file-list>


	<!-- Servlets -->
	<servlet>
		<servlet-name>accountManagmentService</servlet-name>
		<servlet-class>gabriel.yuppiewall.gwt.server.application.portfolio.AccountManagmentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>accountManagmentService</servlet-name>
		<url-pattern>/yuppiewall/accountManagmentService</url-pattern>
	</servlet-mapping>
</web-app>
